<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
	<script>
		FB.init({
			/**********************************************************************
			 * TODO(Developer): Change the value below with your Facebook app ID. *
			 **********************************************************************/
			appId      : 2667710156613227,
			status     : true,
			xfbml      : true,
			version    : 'v2.6'
		});
	</script>
	<div id="fb-root"></div>
	<!--===============================================================================================-->
</head>
<body>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=2667710156613227&autoLogAppEvents=1"></script>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input id="email" class="input100" type="email" name="email" style="text-align: right">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<!-- <span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span> -->
						<input id="pass" class="input100" type="password" name="pass" style="text-align: right">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button id="signup-btn" class="login100-form-btn">
								Sign Up
							</button>
						</div>
						<br>
					</div>
				</form>
				<br><h3 class="text-center">Or</h3>
				<!-- FACEBOOK LOGIN BUTTON -->
				<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<!-- <div class="login100-form-bgbtn"></div> -->
							<button id="facebook-btn" class="login100-form-btn btn-primary" >
								<i class="fa fa-facebook pr-2"></i>Sign up with Facebook
							</button>
						</div>
						<br>
				</div>
				<!-- TWITTER LOGIN BUTTON -->
				<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<!-- <div class="login100-form-bgbtn"></div> -->
							<button id="twitter-btn" class="login100-form-btn btn-primary" style="background: rgb(0,172,238)">
									<i class="fa fa-twitter pr-2"></i>Sign up with Twitter
							</button>
						</div>
						<br>
				</div>

				<div class="text-center p-t-115">
					<span class="txt1">
						Already have an account?
					</span>

					<a class="txt2" href="#" style="color:rgba(0, 100, 255, 0.5)">
						Log In
					</a>
				</div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/js/login.js"></script>
	<!-- <script src="static/js/main.js"></script> -->

</body>
</html>